.reveal .progress { height: 10px; }
img.no-border{border: none !important;}

#toolset {
  list-style: none;
  margin: 0;
}

#toolset img {
  margin: 0 !important;
  height: 40px;
}
#toolset ul {
    font-size: 0.6em;
}

blockquote {
  box-shadow: none;
}

.small {
  font-size: 0.5em !important;
}
.reveal a:hover {
    color: violet;
}
.reveal section img {
    border: initial;
    box-shadow: initial;
}

table {border:none}

body {
  background-image: url("img/TGowl.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 8%;
}
