.reveal {
  font-family: "Source Sans Pro", Segoe UI Light;
  font-size: 42px;
  font-weight: normal;
  color: #404777 !important
}

.reveal .progress { 
  height: 10px; 
}

.reveal .progress,
.reveal .controls-arrow {
  color:  #404777 !important;
}

img.no-border{
  border: none !important;
}

#toolset {
  list-style: none;
  margin: 0;
}

#toolset img {
  margin: 0 !important;
  height: 40px;
}
#toolset ul {
    font-size: 0.6em;
}

blockquote {
  box-shadow: none;
}

.small {
  font-size: 0.6em !important;
}

.img-small {
  max-width: 40% !important;
}

.reveal a:hover {
    color: violet;
}
.reveal section img {
    border: initial;
    box-shadow: initial;
}

table {
  border:none
}

.clariahBg {
  background: url("img/2019-06-03_CLARIAH-DE_.png") 95% 5%/20% no-repeat;
}

.leftAligned {
  text-align: left;
}

.huge-img {
  margin-top: -15px;
}

.highlight {
  font-weight: bold !important;
}

li {
  font-size: 0.85em !important;
}

.fragment.shrink.visible {
  font-size: 0.7em !important;
}

.fragment.grow.visible {
  font-size: 1.3em !important;
}